#add-dog-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#add-dog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#add-dog-btn {
    width: 100px;
    align-self: center;
}